.container {
  display: flex;

}

button {
  width: 10rem;
  margin: 1rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid var(--primaria);
  color: var(--primaria);
  background: transparent;
  transition: .2s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  &:hover {
    background-color: var(--primaria);
    color: var(--white);
    box-shadow: 0 0 5px 3px rgb(0,0,0,.2);
  }
}
