.cardapio-container {
  position: relative;
  top: 1em;
  left: 1em;
  width: 99%;
}

details {
  width: 95%;
  margin-bottom: 1em;
}

.cabecario {
  display: list-item;
  cursor: pointer;
  padding: 1%;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.categoria-content {
  background: var(--secondary-color);
  width: 96%;
  margin-left: 2%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.categoria-produtos {
  display: grid;
  grid-template-columns: 7fr 5fr 2fr .5fr ;
  padding: 1%;
  color: var(--white);
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  justify-items: start;
}

.edit-icon {
  cursor: pointer;
}
