@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'Root.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #e3f2fd;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primary-color);
    box-shadow: 0 0 1px rgb(0,0,0,.1);
    user-select: none;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
    justify-content: space-between;
    width: 100%;
}

.sidebar .logo {
    width: auto;
}

.logo .menu-icon {
    color: var(--white);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .app-logo {
    color: var(--white);
    font-size: 22px;
    font-weight: 500;
}

.app-logo {
    margin-left: 5px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--white);
    font-size: 18px;
    width: 300px;
}

.user i {
    font-size: 36px;
}

.user span {
    padding: 5%;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: var(--primary-color);
    box-shadow: 0 5px 1px rgb(0,0,0,.1);
    transition: all .4s ease-in-out;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.list {
    overflow: auto;
}

.list, .bottom-content, .point {
    list-style: none;
}

.slidebar-content .list-icon {
    list-style: none;
}

.list-icon .nav-link, .point {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 17px;
    border-radius: 8px;
    text-decoration: none;
}

.list .nav-link:hover, .point {
    background: var(--white);
}

.nav-link i {
    margin-right: 14px;
    font-size: 20px;
    color: var(--white);
}

.nav-link .text {
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
}

.text {
    margin-left: 15px;
}

.list .nav-link:hover i,
.list .nav-link:hover .text,
.point .nav-link i,
.point .nav-link .text {
    color: var(--black);
}

.container {
    margin-top: 70px;
    max-width: 1550px;
    user-select: none;
}

.success-notification {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 25vw;
    height: 25vh;
    background: var(--success);
    color: white;
    border-radius: 8px;
    animation: fadeOut 1s 1.5s forwards;
}

.success-notification i {
    font-size: 48px;
}

.text-success {
    font-weight: 600;
    font-size: 20px;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}