<div class="table-content">
  <p-table
    [value]="pedido"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 30]"
    [globalFilterFields]="['nome', 'data']"
    [tableStyle]="{'min-height': '10rem'}"
    #dt1
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span>
          <input
            class="filtro"
            pInputText
            type="text"
            [(ngModel)]="nomeSearchValue"
            (input)="applyFilters(dt1)"
            placeholder="Procurar Pedido" />
          <input
            class="filtro"
            pInputText
            type="date"
            [(ngModel)]="dataSearchValue"
            (input)="applyFilters(dt1)"/>
          <select class="filtro" (change)="applyFilters(dt1)" [(ngModel)]="pagamentoSearchValue" style="width: 8rem">
            <option *ngFor="let pagamento of pagamentoList" value="{{ pagamento.nome }}">{{ pagamento.nome }}</option>
          </select>
        </span>
        <p-button label="Limpar Filtros" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:7%">
          Pedido
        </th>
        <th pSortableColumn="nome" style="width:10%">
          Nome <p-sortIcon field="nome" />
          <p-columnFilter type="text" field="nome" display="menu" />
        </th>
        <th pSortableColumn="mesa" style="width:7%">
          Mesa <p-sortIcon field="mesa" />
        </th>
        <th style="width:10%">
          Valor
        </th>
        <th pSortableColumn="data" style="width:10%">
          Data <p-sortIcon field="data" />
          <p-columnFilter type="text" field="data" display="menu" />
        </th>
        <th style="width:7%">
          Forma de Pagamento
          <p-columnFilter type="text" field="formaPagamento" display="menu" />
        </th>
        <th style="width:5%">
          Ações
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td> {{ '#' + (pedido.pedidoId | number: '3.0-0') }} </td>
        <td> {{ pedido.nome }} </td>
        <td> {{ pedido.mesa | number: '2.0-0' }} </td>
        <td> {{ pedido.valorTotal | currency:'BRL':'symbol':'1.2-2'}} </td>
        <td> {{ pedido.data | date:'dd/MM/yyyy' }} </td>
        <td>
          {{ pedido.formaPagamento }}
        </td>
        <td>
          <p-button
            icon="pi pi-eye"
            [rounded]="true"
            [text]="true"
            [style]="{ width: '1.5rem' }"
            (click)="handlePedidoEvent(historicoPedido, pedido.pedidoId)"
          />
          <p-button
            icon="pi pi-print"
            [rounded]="true"
            [text]="true"
            [style]="{ width: '1.5rem' }"
            (click)="imprimirPedido(pedido.pedidoId)"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
