.actions {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 1%;
  padding: 1%;
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.primary-btn {
  background: var(--primaria);
}

.secondary-btn {
  background: var(--secundaria);
}
