<div class="model">
  <form [formGroup]="produtoForm" (ngSubmit)="handleSubmitAddProduto()" *ngIf="produtoAction?.event?.action == addProdutoAction">
    <div class="input-section">
      <input type="text" id="produto" class="input" formControlName="Nome">
      <label for="produto" class="input-label">Produto</label>
    </div>
    <div class="input-section">
      <input type="number" id="preco" class="input" formControlName="Preco">
      <label for="preco" class="input-label">Preço</label>
    </div>
    <div class="input-section">
      <select id="categoria" formControlName="CategoriaId">
        <option *ngFor="let categoria of categoriaList" value="{{ categoria.categoriaId }}">{{ categoria.nome }}</option>
      </select>
      <label for="categoria" class="input-label" style="width: 6.5rem;">Categoria</label>
    </div>
    <div class="input-checkbox">
      <label for="disponibilidade">Disponível</label>
      <p-inputSwitch id="disponibilidade" formControlName="Disponibilidade"/>
    </div>
    <button type="submit" [disabled]="!this.produtoForm.valid">Confirmar</button>
  </form>

  <form enctype="multipart/form-data" [formGroup]="editProdutoForm" (ngSubmit)="handleSubmitEditProduto()" *ngIf="produtoAction?.event?.action === editProdutoAction">
    <div class="input-section">
      <input type="text" id="edit-produto" class="input" formControlName="Nome">
      <label for="edit-produto" class="input-label">Produto</label>
    </div>
    <div class="input-section">
      <input type="number" id="edit-preco" class="input" formControlName="Preco">
      <label for="edit-preco" class="input-label">Preço</label>
    </div>
    <div class="input-section">
      <select id="edit-categoria" formControlName="CategoriaId">
        <option *ngFor="let categoria of categoriaList" value="{{ categoria.categoriaId }}">{{ categoria.nome }}</option>
      </select>
      <label for="edit-categoria" class="input-label" style="width: 6.5rem;">Categoria</label>
    </div>
    <div class="input-checkbox">
      <label for="edit-disponibilidade">Disponível</label>
      <p-inputSwitch id="edit-disponibilidade" formControlName="Disponibilidade"/>
    </div>
    <button type="submit" [disabled]="!this.editProdutoForm.valid">Confirmar</button>
  </form>
</div>
