<div class="login-container">
  <div class="container-content">
    <form>
      <div class="logo">
        <img src="" alt="Logo">
      </div>

      <div class="input-content">
        <div class="input-section">
          <input type="text" placeholder="usuario" id="user" name="username" class="input">
          <label for="user" class="input-label">Usuário</label>
        </div>
        <div class="input-section">
          <input type="password" placeholder="senha" id="password" name="password" class="input">
          <label for="password" class="input-label">Senha</label>
        </div>
      </div>
      <button class="btn-submit">LOGIN</button>
    </form>
  </div>
</div>
