<div class="voltar">
  <button (click)="voltar()">
    <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
    Voltar
  </button>
</div>
<p-table
  [paginator]="true"
  [value]="categoria"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 30]"
  [globalFilterFields]="['userName', 'email']"
  [tableStyle]="{'min-height': '5rem'}"
  #dt1
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:10%">
        Categoria
      </th>
      <th style="width:5%">
        Status
      </th>
      <th style="width:5%">
        <p-button label="Adicionar Categoria" icon="pi pi-plus" (onClick)="handleCategoriaEvent(addCategoria)" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-categoria>
    <tr>
      <td> {{ categoria.nome }} </td>
      <td>
        <span style="color: darkred" *ngIf="!categoria.disponibilidade">Inativo</span>
        <span style="color: darkgreen" *ngIf="categoria.disponibilidade">Ativo</span>
      </td>
      <td>
        <!--<p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          [style]="{ width: '1.5rem', margin: '0 .5rem 0 0', }" />-->
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          (click)="handleCategoriaEvent(editCategoria, categoria.categoriaId)"
          [text]="true"
          [style]="{ width: '1.5rem', margin: '0 .5rem 0 0', }" />
        <p-inputSwitch [(ngModel)]="categoria.disponibilidade" (onChange)="InativaCategoria(categoria.categoriaId, categoria.disponibilidade)" />

      </td>
    </tr>
  </ng-template>
</p-table>
